---
layout: default
is_featured_page: true
---

    <header class="masthead" id="page-top">
        <div class="header-content">
            <div class="header-content-inner">
            <h1 id="text-uppercase text-white font-weight-bold">Kogito:</h1>
            <h2>Koperasi Digital & Ekonomi Gotong Royong</h2>
            <p class="text-white-100 font-weight-bold mb-3">
                Visi Kami: Kaum Menengah & Miskin Bisa Memenuhi Kebutuhan Dasar dengan Mudah<br>
                Aksi Kami: Meningkatkan Jumlah Koperasi Profesional dan Pro-Anggota di Indonesia
            </p>
            <hr class="divider my-4">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#kondisi" style="text-transform:none;font-size: 1.2em;">Kenapa Harus 'Koperasi'? 🤔</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="kondisi">
        <div class="container text-center">
            <h2 class="section-heading text-white mt-3">Kapitalisme: Yang Kaya Makin Kaya, Yang Miskin Tetap Miskin</h2>
            <hr class="light mb-4 mt-4">
            <div class="row mb-4">
            <div class="col-md-6 mx-auto">
                <figure class="figure" style="max-width:300px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Inequality-by-Kenworthy.png" alt="" class="img-fluid rounded mx-auto d-block">
                <figcaption class="lead text-faded mt-2"><a href="https://lanekenworthy.net/2008/03/09/the-best-inequality-graph/">Rata-Rata Pendapatan Amerika Serikat, 1979-2007</a></figcaption>
                </figure>
            </div>
            <div class="col-md-6 mx-auto">
                <figure class="figure">
                    <img src="https://asset.kompas.com/crop/0x0:804x536/750x500/data/photo/2018/08/30/1986036811.jpg" alt="" class="img-fluid rounded mx-auto d-block">
                    <figcaption class="lead text-faded mt-2"><a href="https://ekonomi.kompas.com/read/2018/08/31/100200826/seberapa-parah-ketimpangan-ekonomi-di-indonesia-?page=2">Indeks Gini Indonesia, 1990-2017</a></figcaption>
                </figure>
            </div> 
            </div>
            <div class="row mb-4">
                <div class="col-lg-8 text-center mx-auto">
                    <h2 class="section-heading text-white">
                        Bung Hatta Memprediksi & Dunia Punya Bukti
                    </h2>
                    <hr class="light mb-4 mt-4">
                </div>
                <div class="col-md-8 text-center mx-auto">
                    <p class="text-faded lead">
                        "Di sini (koperasi) tidak ada majikan dan buruh, melainkan usaha bersama antara mereka yang sama kepentingannya dan tujuannya."<br>~ Pidato Moh. Hatta di Hari Koperasi, 1952
                    </p>
                </div>
                <div class="col-md-4 text-center mx-auto">
                    <p class="text-faded lead">
                            Di dunia sendiri, <a href="https://www.thenews.coop/49090/sector/view-top-300-co-operatives-around-world/">sudah banyak contoh koperasi profesional</a> yang mengelola puluhan triliun per-tahun.
                        </p>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <h2 class="section-heading text-white">Nasib Koperasi Indonesia Saat Ini</h2>
                <hr class="light mt-4 mb-4">
                <p class="text-faded lead">
                    Sekarang, apa yang terlintas saat mendengar kata 'Koperasi'? Tempat pegawai pinjam uang? Tempat 'parkir' uang agar tidak kena pajak? 'Serikat pekerja' formalitas buatan perusahaan? Tempat cuci 'uang kotor'?
                </p>
            </div>
            </div>
            <div class="text-center mt-4 mb-4">
                <a class="btn btn-default btn-xl js-scroll-trigger" href="#masalah">Kenapa Gagal di Indonesia?</a>
            </div>
        </div>
    </section>

    <section id="masalah">
        <div class="container">
            <div class="text-center">
            <h2 class="section-heading mt-3">Empat Penyebab Koperasi Gagal Berkembang</h2>
            <hr class="primary mt-4">
            </div>
            <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-3">
                <h3 class="h4 mb-2">Tidak Paham</h3>
                <p class="text-muted mb-0">Koperasi pada dasarnya adalah sebuah perusahaan. Bedanya, pemegang saham adalah seluruh anggotanya&mdash;bukan pendiri atau pemodal. AD/ART & kepengurusan ditentukan bersama; satu-orang-satu-suara. Banyak anggota ataupun non-anggota yang tidak tahu akan hal ini.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-3">
                <h3 class="h4 mb-2">Anggota Pasif</h3>
                <p class="text-muted mb-0">Akibat ketidakpahaman akan kekuatan mereka, anggota koperasi jadi pasif. Mereka hanya mengikuti program-program yang dicanangkan oleh pengurus&mdash;tidak tahu kalau mereka bisa memecat pengurus yang korup atau kurang profesional.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-3">
                <h3 class="h4 mb-2">Niat Awal Sudah Buruk</h3>
                <p class="text-muted mb-0">Bila dari awal dibentuk sebagai semi-rentenir, tempat cuci uang, atau 'serikat pekerja' formalitas, tentu masa depannya akan suram. Minimal, perombakan AD/ART & pengurus diperlukan untuk merancang ulang DNA koperasi.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-3">
                <h3 class="h4 mb-2">Kepemimpinan Kurang</h3>
                <p class="text-muted mb-0">Sebagaimana perusahan pada umumnya, koperasi yang baik harus bisa merekrut dan menggaji CEO secara profesional. CEO sendiri harus bisa menjalankan koperasi secara profesional dan transparan&mdash;terlebih karena pekerja adalah juga pemegang saham.</p>
                </div>
            </div>
            </div>
            <div class="text-center mt-4 mb-4">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#solusi">Solusi Kogito?</a>
            </div>
        </div>
    </section>

    <section id="solusi" class="bg-primary">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-white mt-3">Jasa-Jasa yang Kogito Tawarkan</h2>
                <hr class="light mt-4 mb-4">
                <p class="lead text-faded">
                Berikut usaha kami untuk memperbanyak koperasi-koperasi profesional & pro-anggota...
                </p>
            </div>
            </div>
        </div>
    </section>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 ml-auto">
                    <h2 class="section-heading">1. Perbaikan & Pelatihan Manajemen Koperasi</h2>
                    <p class="lead">
                        Menerapkan Sistem Manajemen Mutu (SMM ISO 9001:2015) dan melakukan sertifikasi ISO 9001:2015 dengan prioritas mengelola resiko manajemen.
                    </p>
                </div>
                <div class="col-lg-5 mr-auto">
                    <img class="img-fluid" src="/assets/image/iso90012015.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
            <div class="col-lg-5 mr-auto order-lg-2">
                <div class="clearfix"></div>
                <h2 class="section-heading">2. Digitalisasi Akuntansi Koperasi</h2>
                <p class="lead">
                    Menata ulang sistem akuntansi keuangan dengan membuat laporan keuangan secara online beserta pengungkapannya (disclousure).
                </p>
            </div>
            <div class="col-lg-5 ml-auto order-lg-1">
                <img class="img-fluid" src="/assets/image/goes-digital.jpg" alt="">
            </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
            <div class="col-lg-5 ml-auto">
                <h2 class="section-heading">3. Pembuatan Koperasi</h2>
                <p class="lead">
                Di era baru ini, banyak kaum milenial yang ingin membangun <s>startup</s> bisnis. Tahukan kamu bahwa Ace Hardware adalah koperasi? Jika sepakat dengan spirit kekeluargaan koperasi, jika ingin membangun bisnis yang hidup lama karena dijaga bersama, Kogito siap membantu Anda dalam proses inisiasi koperasi profesional. 
                </p>
            </div>
            <div class="col-lg-5 mr-auto">
                <img class="img-fluid" src="/assets/image/proses-pengesahan-koperasi.jpg" alt="">
            </div>
            </div>
        </div>
    </div>
    <div class="content-section-b">
            <div class="container">
                <div class="row">
                <div class="col-lg-5 mr-auto order-lg-2">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Dan Lain-lain...</h2>
                    <p class="lead">
                        FYI. Kogito sendiri adalah sebuah koperasi serba usaha.
                    </p>
                    <p class="lead">
                        Selain memberikan konsultasi manajemen ke Koperasi, Kogito juga menawarkan pelatihan untuk individu yang ingin berdikari & punya kehidupan yang lebih layak. Daftarkan dirimu di <a href="/bski">Balai Sertifikasi Keahlian & Industri (BSKI)</a>.
                    </p>
                </div>
                <div class="col-lg-5 ml-auto order-lg-1">
                    <img class="img-fluid" src="/assets/image/ilustrasi-pelatihan.jpg" alt="">
                </div>
                </div>
            </div>
        </div>

    <section id="galeri" class="bg-primary">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-white">Galeri</h2>
                <hr class="light mt-4 mb-4">
                <p class="lead text-faded">
                Rekam jejak kegiatan Kogito
                </p>
            </div>
            </div>
        </div>
    </section>

    <section id="portfolio" class="p-0">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/1.jpg">
                <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/2.jpg">
                <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/3.jpg">
                <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/4.jpg">
                <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/5.jpg">
                <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/5.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/6.jpg">
                <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/6.jpg" alt="">
                </a>
            </div>
            </div>
        </div>
    </section>

    <section id="koperasi-kogito">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading mt-3">Koperasi Kogito</h2>
                <hr class="primary mt-4">
            </div>
            <nav class="mt-4">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-visi-misi-tab" data-toggle="tab" href="#nav-visi-misi" role="tab" aria-controls="nav-visi-misi" aria-selected="true">Visi - Misi</a>
                    <a class="nav-item nav-link" id="nav-proker-pendek-tab" data-toggle="tab" href="#nav-proker-pendek" role="tab" aria-controls="nav-proker-pendek" aria-selected="false">Program Kerja Jangka Pendek</a>
                    <a class="nav-item nav-link" id="nav-proker-panjang-tab" data-toggle="tab" href="#nav-proker-panjang" role="tab" aria-controls="nav-proker-panjang" aria-selected="false">Program Kerja Jangka Panjang</a>
                </div>
            </nav>
            <div class="tab-content pt-4" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-visi-misi" role="tabpanel" aria-labelledby="nav-visi-misi-tab">
                    <div class="row">
                        <div class="col-md-6 text-center mt-3">
                            <h3 class="h4 mb-2">Visi Kogito untuk Indonesia</h3>
                            <p class="text-muted mb-0">
                                {{ site.data.ad-art.visi[0] }}
                            </p>
                        </div>
                        <div class="col-md-6 text-center mt-3">
                            <h3 class="h4 mb-2">Visi Kogito untuk Kogito</h3>
                            <p class="text-muted mb-0">
                                {{ site.data.ad-art.visi[1] }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {% for text in site.data.ad-art.misi %}
                        <div class="col-md-4 mt-4">
                            <div class="card">
                                <h5 class="card-header">Misi {{ forloop.index }}</h5>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-proker-pendek" role="tabpanel" aria-labelledby="nav-proker-pendek-tab">
                    <div class="row">
                        {% for text in site.data.ad-art.proker-jangka-pendek %}
                        <div class="col-md-4 mt-4">
                            <div class="card">
                                <h5 class="card-header">Proker {{ forloop.index }}</h5>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-proker-panjang" role="tabpanel" aria-labelledby="nav-proker-panjang-tab">
                    <div class="row">
                        {% for text in site.data.ad-art.proker-jangka-panjang %}
                        <div class="col-md-4 mt-4">
                            <div class="card">
                                <h5 class="card-header">Proker {{ forloop.index }}</h5>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading mt-3">Motto Kogito</h2>
                <hr class="primary mt-4 mb-4">
                <div style=" font-family: 'Kalam', cursive;
                        font-size: 3em;
                        text-align: left;
                        max-width: 620px;
                        margin: 0 auto;">
                    "To share, not to conquer.<br>
                    To complete, not to compete."<br>~ Anonim
                </div>
            </div>
    </section>
            