<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ site.url }}#page-top">Kogito</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            {% if page.url == "/" %} 
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#kondisi">Kondisi Saat Ini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#masalah">Masalah Koperasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#solusi">Solusi Kogito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#galeri">Galeri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#koperasi-kogito">Koperasi Kogito</a>
                </li>
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Navigasi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/artikel">Artikel</a>
                        <a class="dropdown-item" href="/acara">Acara</a>
                        <a class="dropdown-item" href="/bski">Balai Sertifikasi Keahlian & Industri (BSKI)</a>
                        <a class="dropdown-item" href="/tentang">Tentang Kami</a>
                        <a class="dropdown-item" href="/gabung">Gabung/Bantu Kogito</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Apa itu Kogito? (Laman Depan)
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ site.url }}#page-top">Kogito</a>
                        <a class="dropdown-item" href="{{ site.url }}#kondisi">Kondisi Saat Ini</a>
                        <a class="dropdown-item" href="{{ site.url }}#masalah">Masalah Koperasi</a>
                        <a class="dropdown-item" href="{{ site.url }}#solusi">Solusi Kogito</a>
                        <a class="dropdown-item" href="{{ site.url }}#galeri">Galeri</a>
                        <a class="dropdown-item" href="{{ site.url }}#koperasi-kogito">Koperasi Kogito</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{site.url}}/artikel">Artikel</a>	
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{site.url}}/acara">Acara</a>	
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{site.url}}/bski">BSKI</a>	
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{site.url}}/tentang">Tentang Kami</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{site.url}}/gabung">Gabung Kogito</a>	
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>