---
---

@import "bootstrap/bootstrap";
@import "creative/creative";
@import "custom/bootstrap-blog";

footer{
  background-color: rgb(226, 226, 226);
}

.navbar-shrink{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

header.masthead{
  background-image: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 120%), url(../image/landing-page-banner.jpg);
  
  .header-content .header-content-inner p{
    font-weight: 500;
  }
}

.bg-primary{
  p a, figcaption a{
    color: #e7ec2d;
  }
  p a:visited, figcaption a:visited{
    color: #ccd200;
  }
  .lead{
    font-weight: 350;
  }
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

.content-section-b {
  padding: 50px 0;
  border-bottom: 1px solid #e7e7e7;
}

/* blog post */

.image-wrapper{
  margin-bottom: 1rem;
  .image-caption{
    text-align: center;
    color: grey;
    margin-top: 5px;
  }
}

/*
* Eventbox
*/

.event-box{
  background-color: #d1e3ff;
  padding: 0.7em 1em;
  margin-top: 1em;
  
  h4{
      margin-bottom: 5px;
  }

  img.trainer{
      width: 70px;
      margin-right: 10px;
  }

  a.button {
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      text-decoration: none;
      color: initial;
      padding: 2px;
  }
}