---
layout: page
permalink: 'tentang'
title: 'Tentang Koperasi Kogito'
---

<h4>Visi Kogito</h4>

<p>
    untuk Indonesia:<br>
    {{ site.data.ad-art.visi[0] }}
</p>
<p>
    untuk Kogito:<br>
    {{ site.data.ad-art.visi[0] }}
</p>

<h4>Misi Kogito</h4>

<ul>
    {% for text in site.data.ad-art.misi %}
    <li>
        {{ text }}
    </li>
    {% endfor %}
</ul>

<h4>Program Kerja Jangka Pendek</h4>

<ul>
    {% for text in site.data.ad-art.proker-jangka-pendek %}
    <li>
        {{ text }}
    </li>
    {% endfor %}
</ul>

<h4>Program Kerja Jangka Panjang</h4>

<ul>
    {% for text in site.data.ad-art.proker-jangka-panjang %}
    <li>
        {{ text }}
    </li>
    {% endfor %}
</ul>