---
permalink: "bski"
layout: default
---

<div class="container mt-5 mb-5 pt-5 ">

    <h1>Balai Sertifikasi Keahlian & Industri</h1>

            
    {% assign workshops = site.workshops | where: "workshop", "tiga-pilar-agile" %}

    {% if workshops != null %}

        <div class="card mt-4">
            <h4 class="card-header"><strong>Tiga Pilar Agile</strong></h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="card-text">
                            Setelah mengikuti workshop ini, teman-teman akan mehamai praktik-praktik terpenting di Scrum, Kanban, dan XP; dan kesamaan mereka semua (baca: Tiga Pilar Agile). Ini adalah pengetahuan penting jika ingin punya budaya kerja yang lebih tangkas!
                        </p>
                    </div>
                    <div class="col-lg-6">
                        {% include workshop_looper.html looped=workshops %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% assign workshops = site.workshops | where: "workshop", "cypress-dasar" %}

    {% if workshops != null %}

    <div class="card mt-4">
            <h4 class="card-header">Pengenalan Automated E2E Testing dengan Cypress</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text">
                            Setelah mengikuti workshop ini, peserta jadi bisa memulai membuat/menjalankan skrip otomasi dengan Cypress (salah satu yang terbaik saat ini), mengubah kode HTML agar tes lebih mudah diotomasi, & menyusun strategi otomasi tes software. Demi software yang tanpa bug!
                        </p>
                    </div>
                    <div class="col-md-6">
                        {% include workshop_looper.html looped=workshops %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
</div>

    