---
layout: default
---

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-8">
            <article class="blog-post">
                <h2 class="blog-post-title">{{ page.title | escape }}</h2>
                <span class="blog-post-meta">
                    {% if page.author %}
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.data.authors[page.author].name }}</span></span>
                    {% endif %}
                </span>
                <hr>
                {{ content }}
            </article>
        </div>
        <div class="col-md-4 blog-sidebar">
            {% include sidebars/company-intro.html %}
        </div>
    </div>
</div>

    
